<div>
    <h1>Gitlab ID</h1>
    <div><%= viewData.id %></div>
    <h1>Email</h1>
    <div><%= viewData.email %></div>
    <h1>Name</h1>
    <div><%= viewData.name %></div>
    <h1>Username</h1>
    <div><%= viewData.username %></div>
    <img src="<%= viewData.avatar_url %>" alt="Avatar">
    <h1>Last Activity</h1>
    <div><%= viewData.last_activity_on %></div>
</div>